.elementor-element-3e09b3a .button.cs-btn-outline {
	color:#ffffff!important;
}
.add-combo-to-cart-btn,
.reset-btn,
.search-btn {
    position: relative;
    z-index: 9;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    padding: 0 48px;
    height: var(--btn-height);
    background: var(--btn-bg);
    border: none;
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    font-family: var(--btn-font);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    letter-spacing: var(--btn-letter-spacing);
    text-transform: var(--btn-text-transform);
    line-height: 1;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}

.woocommerce-cart-form {
	display:none !important;
}

.woocommerce-checkout #customer_details {
	width:100% !important;
}

.woocommerce-checkout-review-order-table {
	display:none !important;
}


@media (max-width: 700px) {

  .select-holtes a {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 12px 0;
  }

  #customer_details .col-1,
  #customer_details .col-2 {
    width: 100% !important;
    float: none !important; 
    margin-right: 0 !important;
  }

  .woocommerce-billing-fields__field-wrapper .form-row {
    width: 100% !important;
  }
}